* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    text-decoration: none;
}

body {
    overflow: auto;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

header {
    padding: 10px 60px;
    left: 0; right: 0; top: 0;
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header a {
    color: #ffcf4d;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}

header .navbar {
    height: 40px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    float: right;
}

header .navbar ul li a {
    padding: 0 10px;
    display: block;
    color: #fff;
}

.text h1 {
    font-family: "Grenze", sans-serif;
    font-size: 64px;
    font-weight: 400;
}

.text h6 {
    font-weight: 400;
    font-size: 20px;
}

.text {
    padding-top: 60px;
    height: 320px;
    color: white;
    text-align: center;
    font-family: "Inter", serif;
    background-image: url(/img/bg.png);
    background-color: #070707;
}

section {
    height: 3400px;
    padding-top: 40px;
}

section h4 {
    color: #0013b2;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0 6px;
}

section article:nth-child(2) h4 {
    margin-bottom: -15px;
}

.role {
    font-weight: 600;
    line-height: 24px;
    height: 24px;
    color: #202020;
    margin-top: 15px;
}

.role span {
    color: #666666;
}

section h5 {
    padding-top: 25px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}

.lnk {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

article {
    width: 858px;
    margin: 0 auto;
    padding: 0;
}

article ul {
    padding: 0 25px;
}

article ul li {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
}

article img {
    margin: 20px 0;
    width: 100%;

}

article .half {
    width: 55%;
}

article .qtz {
    width: 25%;
}

article .qtz2 {
    width: 30%;
}

article p.img-txt {
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -20px;
}

footer {
    padding: 10px 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: #070707;
}

footer .navbar {
    height: 40px;
    width: 100%;
    padding-top: 10px;
}

footer .navbar ul {
    list-style: none;
}

footer .navbar ul li {
    float: right;
}

footer .navbar ul li a {
    padding: 0 10px;
    display: block;
    color: #0d0d0d;
}

.copy {
    text-align: center;
    height: 40px;
    background-color: #0d0d0d;
    color: #fff;
    padding: 10px;
}

button {
    width: 309px;
    height: 56px;
    border: none;
    float: right;
    padding: 14px 10px;
    margin-top: 70px;
    background-color: #0d0d0d;
    font-size: 16px;
    font-weight: 600;
}

button a {
    color: white;
}





@media only screen and (max-width: 390px) {
    header {
        width: 390px;
        padding: 10px 30px;
    }
    
    header a {
        font-weight: 500;
        font-size: 20px;
    }
    
    header .navbar {
        display: none;
    }

    .text h1 {
        font-size: 32px;
    }
    
    .text h6 {
        font-size: 16px;
        line-height: 24px;
    }
    
    .text {
        width: 390px;
        padding-top: 60px;
        height: 233px;
    }

    section {
        padding: 10px;
        height: 3500px;
    }
    
    section h4 {
        font-size: 20px;
    }

    section article:nth-child(2) h4 {
        margin-bottom: -10px;
        margin-top: 70px;
    }

    article {
        width: 380px;
        padding: 0 30px;
    }

    article img {
        margin: 10px 0;
    }

    article .half, article .qtz2 {
        width: 100%;
    }

    article .qtz {
        width: 50%;
    }

    .role {
        font-weight: 500;
    }

    .role:nth-child(4) {
        margin-bottom: 65px;
    }

    button {
        width: 215px;
        height: 48px;
        padding: 14px 5px;
        margin: 55px 55px;
        font-size: 12px;
    }

    footer {
        width: 390px;
        padding: 0 20px;
    }
    
    footer a {
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
    }
    
    footer .navbar {
        height: 24px;
        width: 390px;
        padding-top: 3px;
    }
    
    footer .navbar ul li a {
        padding: 0 5px;
    }
    
    .copy {
        width: 390px;
        height: 30px;
        padding: 7px;
        font-size: 12px;
        font-weight: 500;
    }
}